@font-face {
  font-family: GilroyBold;
  src: url(./gilroy/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: GilroyLight;
  src: url(./gilroy/Radomir\ Tinkov\ -\ Gilroy-Light.otf);
}
@font-face {
  font-family: Fredoka;
  src: url(./static/Fredoka-Bold.ttf);
}
.page1 {
  width: 100%;
  height: 100vh;
}
.page1 img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.page1 img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
}
.page1 .navbar {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  font-family: GilroyBold;
}
.page1 .navbar .side1 {
  position: relative;
}
.page1 .navbar .side1 h1 {
  position: absolute;
  color: #374A3D;
  left: 225px;
  top: 0;
}
.page1 .navbar .side1 img:nth-child(1) {
  position: absolute;
  width: 120px;
  left: 10px;
  top: -10px;
}
.page1 .navbar .side1 img:nth-child(2) {
  position: absolute;
  left: 180px;
  top: 24px;
}
.page1 .navbar .side2 {
  padding-right: 15%;
  gap: 40px;
  display: flex;
  align-items: center;
}
.page1 .navbar .side2 p {
  font-weight: 900;
}
.page1 .navbar .side2 button {
  color: white;
  background-color: #0CA941;
  width: 80px;
  height: 35px;
  border-radius: 5px;
  transition: 0.3s;
  border: none;
}
.page1 .navbar .side2 button:hover {
  background-color: #367800;
  box-shadow: 1px 1px 5px rgb(57, 243, 57);
  color: #374A3D;
}
.page1 .main {
  width: 100%;
  height: 90%;
  display: flex;
}
.page1 .main .mainSide1 {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  position: relative;
}
.page1 .main .mainSide1 .Line {
  position: absolute;
  width: 15%;
  top: 62%;
  left: 50%;
}
.page1 .main .mainSide1 .cactus {
  position: absolute;
  top: 65%;
  left: 80%;
  width: 30%;
}
.page1 .main .mainSide1 h1 {
  font-size: 60px;
  color: #374A3D;
  font-family: Fredoka;
  padding-top: 60px;
  padding-left: 180px;
}
.page1 .main .mainSide1 h1 span {
  color: #0CA941;
}
.page1 .main .mainSide1 p {
  width: 60%;
  padding-left: 180px;
  font-family: GilroyLight;
  color: gray;
  margin-top: -20px;
}
.page1 .main .mainSide1 button {
  position: relative;
  width: 130px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #0CA941;
  background-color: transparent;
  font-weight: bolder;
  margin-left: 180px;
  margin-top: 20px;
}
.page1 .main .mainSide1 button .buttonimage {
  position: absolute;
  top: 17px;
  left: 100px;
}
.page1 .main .mainSide2 {
  width: 50%;
  height: 100%;
  position: relative;
}
.page1 .main .mainSide2 .face {
  position: absolute;
  width: 75%;
  left: 30px;
  z-index: 1;
}
.page1 .main .mainSide2 .Ellipse {
  position: absolute;
  z-index: 0;
}

.page2 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: white;
}
.page2 .ellipse {
  position: absolute;
  top: -300px;
  left: 0;
  z-index: 0;
}
.page2 .cards {
  position: absolute;
  background-color: white;
  width: 80%;
  margin-left: 10%;
  height: 170px;
  border-radius: 20px;
  margin-top: 200px;
  z-index: 3;
  box-shadow: 10px 10px 30px rgba(12, 169, 64, 0.1882352941);
  display: flex;
}
.page2 .cards img {
  margin-left: -100px;
  margin-top: -130px;
  height: 350px;
}
.page2 .cards .card1 {
  width: 30%;
  margin-left: -50px;
}
.page2 .cards .card1 h3 {
  width: 80%;
  font-size: 25px;
  font-family: Fredoka;
  color: #374A3D;
}
.page2 .cards .card1 p {
  width: 85%;
  color: #374A3D;
}
.page2 .cards .card2 {
  width: 23%;
  background-image: url(./assets/Vector.png);
  background-repeat: no-repeat;
  background-position: 50px 30px;
  position: relative;
}
.page2 .cards .card2 p {
  width: 60%;
  font-family: GilroyBold;
  color: #374A3D;
  position: absolute;
  top: 90px;
  left: 50px;
  color: #678570;
}
.page2 .cards .card2 h1 {
  position: absolute;
  top: 5px;
  left: 55px;
  font-size: 50px;
  color: #0CA941;
  font-family: GilroyBold;
}
.page2 .cards .card3 {
  width: 23%;
  background-image: url(./assets/Vector.png);
  background-repeat: no-repeat;
  background-position: 50px 30px;
  position: relative;
}
.page2 .cards .card3 p {
  width: 50%;
  font-family: GilroyBold;
  color: #678570;
  position: absolute;
  top: 90px;
  left: 50px;
}
.page2 .cards .card3 h1 {
  position: absolute;
  top: 5px;
  left: 55px;
  font-size: 50px;
  color: #0CA941;
  font-family: GilroyBold;
}
.page2 .cards .card4 {
  width: 23%;
  background-image: url(./assets/Vector.png);
  background-repeat: no-repeat;
  background-position: 50px 30px;
  position: relative;
}
.page2 .cards .card4 p {
  width: 50%;
  font-family: GilroyBold;
  color: #678570;
  position: absolute;
  top: 90px;
  left: 50px;
}
.page2 .cards .card4 h1 {
  position: absolute;
  top: 5px;
  left: 55px;
  font-size: 50px;
  color: #0CA941;
  font-family: GilroyBold;
}

.page3 {
  width: 100%;
  height: 100vh;
  display: flex;
}
.page3 .side1 {
  width: 50%;
  height: 100%;
  position: relative;
}
.page3 .side1 .Ellipse3 {
  position: absolute;
  top: -400px;
  left: 0;
  z-index: 0;
}
.page3 .side1 .woman {
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 2;
}
.page3 .side2 {
  width: 50%;
  margin-left: 250px;
  height: 100%;
  position: relative;
}
.page3 .side2 h1 {
  width: 50%;
  font-family: Fredoka;
  color: #374A3D;
}
.page3 .side2 p {
  width: 60%;
  font-family: GilroyLight;
  color: #678570;
  font-size: 20px;
}
.page3 .side2 button {
  position: relative;
  width: 130px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #0CA941;
  background-color: transparent;
  font-weight: bolder;
}
.page3 .side2 .buttonimage {
  position: absolute;
  top: 17px;
  left: 100px;
}
.page3 .side2 .Line {
  position: absolute;
  width: 100px;
  top: 280px;
  left: 180px;
}

.page4 {
  width: 100%;
  height: 100vh;
  display: flex;
}
.page4 .side1 {
  width: 50%;
  height: 100%;
  position: relative;
  padding: 5%;
}
.page4 .side1 h1 {
  margin: 0px 0px 0px 30px;
  font-family: Fredoka;
  font-size: 50px;
  color: #374A3D;
}
.page4 .side1 p {
  width: 50%;
  font-size: 20px;
  font-family: GilroyLight;
  color: #678570;
  margin-left: 30px;
}
.page4 .side1 button {
  position: absolute;
  bottom: 320px;
  left: 120px;
  width: 150px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #0CA941;
  background-color: transparent;
  font-weight: bolder;
}
.page4 .side1 .line {
  width: 15%;
  position: absolute;
  bottom: 300px;
  right: 380px;
  width: 13%;
}
.page4 .side2 {
  width: 50%;
  height: 100%;
}
.page4 .side2 .circle1 {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
}
.page4 .side2 .circle1 .Ellipse1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}
.page4 .side2 .circle1 .Ellipse2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.page4 .side2 .circle1 .Ellipse3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
}
.page4 .side2 .circle2 {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin-top: -80%;
  margin-left: 50px;
  position: relative;
}
.page4 .side2 .circle2 .vector1 {
  position: absolute;
  top: 0;
  left: 100px;
}
.page4 .side2 .circle2 .vector2 {
  position: absolute;
  bottom: 0;
  left: 100px;
}
.page4 .side2 .circle2 .vector3 {
  position: absolute;
  bottom: 180px;
  left: 400px;
}
.page4 .side2 .cards {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  margin-top: -58%;
  position: relative;
}
.page4 .side2 .cards .card1 {
  width: 40%;
  height: 45%;
  position: absolute;
  top: -50px;
  left: 250px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: -5px -5px 30px rgba(12, 169, 64, 0.2);
}
.page4 .side2 .cards .card1 img:nth-child(1) {
  margin-top: 20px;
  margin-left: 70px;
}
.page4 .side2 .cards .card1 img:nth-child(2) {
  position: absolute;
  top: 40px;
  right: 80px;
}
.page4 .side2 .cards .card1 h3 {
  margin-left: 60px;
  color: #374A3D;
  font-family: Fredoka;
}
.page4 .side2 .cards .card1 p {
  width: 80%;
  color: #678570;
  font-family: GilroyLight;
  margin-left: 20px;
  text-align: center;
}
.page4 .side2 .cards .card2 {
  width: 40%;
  height: 45%;
  position: absolute;
  top: 100px;
  left: -50px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: -5px -5px 30px rgba(12, 169, 64, 0.2);
}
.page4 .side2 .cards .card2 img:nth-child(1) {
  margin-top: 20px;
  margin-left: 80px;
}
.page4 .side2 .cards .card2 img:nth-child(2) {
  position: absolute;
  top: 20px;
  right: 98px;
}
.page4 .side2 .cards .card2 h3 {
  margin-left: 80px;
  color: #374A3D;
  font-family: Fredoka;
}
.page4 .side2 .cards .card2 p {
  width: 80%;
  color: #678570;
  font-family: GilroyLight;
  margin-left: 20px;
  text-align: center;
}
.page4 .side2 .cards .card3 {
  width: 43%;
  height: 45%;
  position: absolute;
  bottom: 40px;
  left: 250px;
  background-color: #ffffff;
  border-radius: 20px;
}
.page4 .side2 .cards .card3 img:nth-child(1) {
  margin-top: 20px;
  margin-left: 80px;
}
.page4 .side2 .cards .card3 img:nth-child(2) {
  position: absolute;
  top: 25px;
  right: 115px;
}
.page4 .side2 .cards .card3 h3 {
  margin-left: 80px;
  color: #374A3D;
  font-family: Fredoka;
}
.page4 .side2 .cards .card3 p {
  width: 80%;
  color: #678570;
  font-family: GilroyLight;
  margin-left: 20px;
  text-align: center;
}

.page5 {
  width: 100%;
  height: 100vh;
  text-align: center;
}
.page5 h1 {
  font-size: 50px;
  margin-top: 20%;
  color: #374A3D;
  font-family: Fredoka;
}
.page5 p {
  font-family: GilroyLight;
  font-size: 20px;
  margin: auto;
  width: 50%;
  color: #678570;
}
.page5 .cards {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 70px;
}
.page5 .cards .card {
  width: 28%;
  padding-top: 20px;
  height: 60%;
  border: 2px solid rgba(128, 128, 128, 0.438);
  border-radius: 20px;
}
.page5 .cards .card h3 {
  font-family: Fredoka;
  color: #374A3D;
}
.page5 .cards .card .text {
  display: flex;
  width: 50%;
  margin: auto;
}
.page5 .cards .card .bottom {
  display: flex;
  justify-content: space-between;
}
.page5 .cards .card .bottom .side1 {
  margin-top: 20px;
  width: 20%;
}
.page5 .cards .card .bottom .side1 h5 {
  margin-top: -1px;
  font-family: GilroyBold;
  color: #0CA941;
  font-size: 20px;
}
.page5 .cards .card .bottom .side1 p {
  font-family: GilroyLight;
  color: #678570;
}
.page5 .cards .card .bottom button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  border: 2px solid rgba(128, 128, 128, 0.399);
  background-color: transparent;
  color: #0CA941;
  margin: 25px;
}

.page6 {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: 200px;
}
.page6 img {
  z-index: 1;
}
.page6 img:nth-child(1) {
  position: absolute;
  right: 0;
  bottom: 0;
}
.page6 img:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
}
.page6 .card {
  position: absolute;
  z-index: -1;
  background-color: #F7F8F7;
  width: 90%;
  height: 75%;
  margin-top: 20px;
  margin-left: 5%;
  border-radius: 20px;
}
.page6 .card h1 {
  font-family: Fredoka;
  color: #374A3D;
  margin: 5% 30%;
}
.page6 .card p {
  font-family: GilroyLight;
  color: #678570;
  width: 50%;
  text-align: center;
  font-size: 18px;
  margin: 0% 25%;
}
.page6 .card input {
  width: 30%;
  height: 10%;
  margin: 5% 0px 0px 33%;
  border: 1px solid #0CA941;
  border-radius: 5px;
}
.page6 .card button {
  width: 10%;
  height: 11%;
  border-radius: 5px;
  background-color: #0CA941;
  color: white;
  border: none;
  margin-left: -100px;
}

.footer1 {
  width: 90%;
  margin-left: 5%;
  height: 40vh;
  display: flex;
}
.footer1 .card1 {
  width: 25%;
  height: 100%;
  padding: 3%;
}
.footer1 .card1 span {
  display: flex;
  align-items: center;
  gap: 5%;
}
.footer1 .card1 span img {
  height: 40px;
}
.footer1 .card1 span h3 {
  font-family: GilroyBold;
  color: #374A3D;
  font-size: 20px;
}
.footer1 .card1 p {
  color: #678570;
  font-family: GilroyLight;
}
.footer1 .card2 {
  width: 25%;
  height: 100%;
  padding: 3%;
}
.footer1 .card2 h3 {
  font-family: GilroyBold;
  color: #374A3D;
  font-size: 20px;
}
.footer1 .card2 p {
  color: #678570;
  font-family: GilroyLight;
}
.footer1 .card3 {
  width: 25%;
  height: 100%;
  padding: 3%;
}
.footer1 .card3 h3 {
  font-family: GilroyBold;
  color: #374A3D;
  font-size: 20px;
}
.footer1 .card3 p {
  color: #678570;
  font-family: GilroyLight;
}
.footer1 .card4 {
  width: 25%;
  height: 100%;
  padding: 3%;
}
.footer1 .card4 h3 {
  font-family: GilroyBold;
  color: #374A3D;
  font-size: 20px;
}
.footer1 .card4 p {
  color: #678570;
  font-family: GilroyLight;
}

hr {
  width: 90%;
  height: 1px;
  margin: 6% 5% 0% 5%;
  background-color: red;
}

.footer2 {
  position: relative;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
}
.footer2 .ellipseLeft {
  position: absolute;
  right: 0;
  bottom: -270%;
}
.footer2 .ellipseRight {
  position: absolute;
  left: 0;
  bottom: -370%;
}
.footer2 .flowers {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: 10%;
}
.footer2 .flowers img {
  margin-left: 35px;
  height: 100%;
}/*# sourceMappingURL=style.css.map */